body{
    margin: 0px;
    padding: 0;
}
#head1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}
#logo {
    height: 60px;
    width: auto;
    float:left;
    border-radius:50%;
}
#img {
    height: 100px;
    width: auto;
}